<div id="background">
  <h2 class="display-4 text-center">
    <img style="margin-left: 50px" src="/assets/logo.jpg" width="150" height="150">
    <label id="header">PARENT PORTAL</label>
  </h2>
  <hr>

<div>
  <table align="left">
    <tr>
      <th id="links" colspan="2">NOTIFICATIONS <span style = "float:right;"> <span style = "color:#000000;">&#9660;</span></span></th>
    </tr>

    <tr>
      <th id="tasks"> &#8226; Complete Emergency Contact info form</th>
    <tr>

    <tr>
      <th id="tasks"> &#8226; Sign enrollment form in person at CMAA</th>
    </tr>

    <tr>
      <th id="tasks"> &#8226; Holiday: No after school program!</th>
    </tr>

    <tr>
      <th id="links" colspan="2">STUDENTS <span style = "float:right;"> <span style = "color:#000000;">&#9660;</span></span></th>
    </tr>

    <tr>
      <th id="tasks"> &#8226; <a href="https://www.w3schools.com">Child 1</a></th>
    </tr>

    <tr>
      <th id="tasks"> &#8226; <a href="https://www.w3schools.com">Child 2</a></th>
    </tr>

    <tr>
      <th id="links" colspan="2">FORMS <span style = "float:right;"> <span style = "color:#000000;">&#9660;</span></span></th>
    </tr>

    <tr>
      <th id="tasks"> &#8226; <a href="https://www.w3schools.com">Enrollment form</a></th>
    </tr>

    <tr>
      <th id="tasks"> &#8226; <a href="https://www.w3schools.com">Emergency contact form</a></th>
    </tr>

    <tr>
      <th id="tasks"> &#8226; <a href="https://www.w3schools.com">Parent consent form</a></th>
    </tr>
  </table>

  <hr id="header2">

<div id="left">
  <table align="right">
    <tr>
      <th id="classes">GRADES</th>
    </tr>

    <tr>
        <th id="school">South Loop Elementary School</th>
      </tr>

    <tr>
      <th id="info">Name:Elvin Uthuppan</th>
    </tr>

    <tr>
      <th id="info">Grade: 2nd grade</th>
    </tr>

    <tr>
      <th id="info">Year: 2017-2018</th>
    </tr>

  </table>
</div>


<div id="left">
  <table>
    <tr>
      <th id="classname" colspan = "2">MATH <span style = "float: right;">B</span></th>
    </tr>

    <tr>
       <th id="classname" colspan = "2">ENGLISH <span style = "float: right;">A</span></th>
    </tr>

    <tr>
      <th id="classname" colspan = "2">SCIENCE<span style = "float: right;">A</span></th>
    </tr>

  </table>
</div>


<div id="clear">
    <div class="col-lg-4 col-md-12"></div>
    <div class="row">
      <div class="col-lg-4 col-md-12"></div>
      <div class="col-lg-4 col-md-12">
        <div class="form-group">
            <img class="img-thumbnail"
            name="preview"
            id="preview"
            src="assets/kids.png">
        </div>
      </div>
    </div>
</div>

    <div id="border">
      <hr>
      <h2 class="display-4 text-center"> </h2>
      <hr>
    </div>

    <div id="borderinfo">
      <img src = "/assets/border.png">
   </div>
